$verde-principal: #4ac959;
$verde-secundario: #46bd62;
$verde-terciario: #42d76b;
$verde-quaternario: #49af55;
$preto-principal: #000000;
$branco-principal: #ffffff;
$azul-principal: #9499b3;
$azul-secundario: #06152b;
$azul-terciario: #312f4f;
$laranja-principal: #ff4607;
$cinza-principal: #9a9a9a;
$cinza-secundario: #c4c4c4;
$cinza-terciario: #979797;
